# Environment related stuff:
.DS_Store
.idea/

# Shared files:
*.so
*.so.o

# Zig related stuff:
build.zig
zig-*
# Ignore everything (files and directories) in the zilglings directory, but NOT the directory itself:
ziglings/*
# Do not ignore the "exercises" sub-folder:
!ziglings/exercises/
test*.zig
